## PYTHON JOURNEY MACHINE & DEEP LEARNING
### Trabalho prático usando o Python

### Sorteio de amostra probabilística e cálculo do Intervalo de confiança de 95%

In [44]:
# Importar as bibliotecas
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sbn
import math

Contexto dos dados

A gerente da área de Marketing Relacionamento da empresa XYZ tem observado, nas últimas campanhas, 
um aumento no número de clientes não contatados. Uma das estratégias para melhorar esse quadro é a 
utilização de outros canais de relacionamento. A gerente deseja testar os canais de relacionamento 
em uma amostra de tamanho igual a 40.

Dicionário de variáveis:

Sexo: 2=Masculino;4=Feminino
Idade: Idade 
Cor_pele:0=missing; 2=Branca; 4=Preta; 6=Amarela; 8 = Parda
Telefone móvel:2=Sim; 4=Não
Anos_estudo: Anos de estudo

# Importar o arquivo de dados

In [22]:
# Importar o arquivo Arq_trab3.csv
df = pd.read_csv(r'C:\Users\lucas\Downloads\trab3\Arq_trab3.csv')

In [23]:
df.head()

   ID  Sexo  idade  Cor_pele  Telefone_movel  Anos_estudo
0   1     2     30         8               4            2
1   2     4     36         8               2            9
2   3     2     19         2               2           12
3   7     2     26         2               2           16
4   8     4     21         2               2           11

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2616 entries, 0 to 2615
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID              2616 non-null   int64
 1   Sexo            2616 non-null   int64
 2   idade           2616 non-null   int64
 3   Cor_pele        2616 non-null   int64
 4   Telefone_movel  2616 non-null   int64
 5   Anos_estudo     2616 non-null   int64
dtypes: int64(6)
memory usage: 122.8 KB

In [25]:
# mudar o formato da variável number para string
df['Sexo'] = df['Sexo'].astype(str)
df['Cor_pele'] = df['Cor_pele'].astype(str)
df['Telefone_movel'] = df['Telefone_movel'].astype(str)

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2616 entries, 0 to 2615
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID              2616 non-null   int64
 1   Sexo            2616 non-null   object
 2   idade           2616 non-null   int64
 3   Cor_pele        2616 non-null   object
 4   Telefone_movel  2616 non-null   object
 5   Anos_estudo     2616 non-null   int64
dtypes: int64(3), object(3)
memory usage: 122.8+ KB

# Tabela de Frequência da População

In [28]:
sexo = pd.pivot_table(df, index='Sexo', values='ID', aggfunc=np.count_nonzero)

In [30]:
sexo['%'] = (pd.pivot_table(df, index='Sexo', values='ID', aggfunc=np.count_nonzero))/df['ID'].count()*100

In [31]:
sexo

        ID          %
Sexo
2     1240  47.400612
4     1376  52.599388

# Medidas resumo da Idade e Anos de estudo da População

In [32]:
df.describe()

                ID        idade  Anos_estudo
count  2616.000000  2616.000000  2616.000000
mean   1966.632263    41.511468     8.504969
std    1081.896479    16.657495     4.550038
min       1.000000    18.000000     1.000000
25%    1044.750000    28.000000     5.000000
50%    2018.500000    39.000000     9.000000
75%    2902.250000    52.000000    12.000000
max    3805.000000    97.000000    17.000000

# Sorteio da amostra probabilística

In [33]:
df_sample = df.sample(n=40)

In [34]:
df_sample.head()

        ID Sexo  idade Cor_pele Telefone_movel  Anos_estudo
1458  2221    2     22        8              2            9
139    238    4     27        8              4           10
2267  3313    4     46        2              2           16
2049  3023    2     53        2              2            9
207    348    2     40        8              2            8

In [35]:
df_sample.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40 entries, 1458 to 2046
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID              40 non-null     int64
 1   Sexo            40 non-null     object
 2   idade           40 non-null     int64
 3   Cor_pele        40 non-null     object
 4   Telefone_movel  40 non-null     object
 5   Anos_estudo     40 non-null     int64
dtypes: int64(3), object(3)
memory usage: 2.2+ KB

# Tabela de Frequência da Amostra

# Medidas resumo da Idade e Anos de estudo da Amostra

In [36]:
sexo_ams = pd.pivot_table(df_sample, index='Sexo', values='ID', aggfunc=np.count_nonzero)

In [37]:
sexo_ams['%'] = (pd.pivot_table(df_sample, index='Sexo', values='ID', aggfunc=np.count_nonzero))/df_sample['ID'].count()*100

In [39]:
sexo_ams

      ID     %
Sexo
2     20  50.0
4     20  50.0

In [40]:
df_sample.describe()

                ID      idade  Anos_estudo
count    40.000000  40.000000     40.00000
mean   2111.300000  42.450000      8.70000
std    1124.895054  17.200104      4.68604
min     238.000000  20.000000      1.00000
25%    1051.500000  28.500000      5.00000
50%    2132.500000  41.500000      9.00000
75%    3183.250000  52.250000     12.00000
max    3654.000000  89.000000     16.00000

### Cálculo do Intervalo de Confiança de 95% para proporção

#### Limite inferior = p - 1.96*sqrt(p*q)
#### Limite superior = p + 1.96*sqrt(p*q)

#### nível de confiança de 95% = 1.96
#### p=proporção de usuários de telefone móvel
#### q= 1-p = proporção de usuários sem telefone móvel

### Cálculo da proporção de clientes com telefone

### Alterar o número de clientes com telefone móvel (k)
### prop_tel=k/40

In [41]:
telefone_ams = pd.pivot_table(df_sample, index='Telefone_movel', values='ID', aggfunc=np.count_nonzero)

In [42]:
telefone_ams['%'] = (pd.pivot_table(df_sample, index='Telefone_movel', values='ID', aggfunc=np.count_nonzero))/df_sample['ID'].count()*100

In [43]:
telefone_ams

                ID     %
Telefone_movel
2               35  87.5
4                5  12.5

In [45]:
# Erro padrão
prop_telefone = 33 / 40
erro_padrao = math.pow(prop_telefone*((1-prop_telefone)/40),1/2)

In [46]:
erro_padrao

0.06007807420348959

In [49]:
#Margem de erro
margem_erro = 1.96*erro_padrao

In [50]:
margem_erro

0.11775302543883959

In [51]:
#Limite inferior do intercalo de confiança
li = prop_telefone-margem_erro

In [52]:
li

0.7072469745611604

In [53]:
#Limite superior do intervalo de confiança
ls = prop_telefone+margem_erro

In [54]:
ls

0.9427530254388395